<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Rodik">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="icon" href="data:image/x-icon;base64,AAABAAEAAQECAAEAAQA4AAAAFgAAACgAAAABAAAAAgAAAAEAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD///8AAAAAAAAAAAAAAAAA">

</head>
<body>
<div>
    Test
    <div json-editor="schema.json"></div>
</div>
<!-- build:template
<% if (environment !== 'dev') { %>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<% } %>
/build -->
<!-- build:inlineJsBlock build/js/app.min.js -->

<!-- app.min.js will be inlined here and replace this entire block's content -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/json-editor/dist/jsoneditor.js"></script>

<script src="../app/ng-json-editor.js"></script>

<script src="../demo/app.js"></script>
<!-- /build -->
</body>
</html>
